{% extends 'login/base.html' %}
{% load static %}
{% block content %}

				<form action="." method="post" class="login100-form validate-form">
					{% csrf_token %}
					<span class="login100-form-title">
						Create New Member
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user-o" aria-hidden="true"></i>
						</span>
					</div>

					{% if errors.username%}
					<span class="txt1">
					  {{errors.username}}
					</span>
					{% endif %}

                    <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="email" placeholder="Email">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

					{% if errors.email%}
					<span class="txt1">
					  {{errors.email}}
					</span>
					{% endif %}

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="password1" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					{% if errors.password1%}
					<span class="txt1">
					  {{errors.password1}}
					</span>
					{% endif %}

                    <div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="password2" placeholder="Repeat password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					{% if errors.password2%}
					<span class="txt1">
					  {{errors.password2}}
					</span>
					{% endif %}
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Create
						</button>
					</div>

					<div class="text-center p-t-136">
						<a class="txt2" href="{% url 'login:login' %}">
							Already have an account?
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
				{% endblock %}